.Rproj.user
.Rhistory
.Rprofile
*.Rproj

renv/
template/
logbuch_ba.xlsx

markdown/data
markdown/models
markdown/output
markdown/method_cache
markdown/method_files
markdown/master_files
markdown/master_cache
# markdown/images
markdown/diffusion_model_runs/cluster/output

markdown/*.pdf
markdown/*.docx
markdown/*.html
markdown/*.pptx
markdown/*.ppt
markdown/*.log
markdown/*.fff
markdown/*.ttt

markdown/testing*

psychopy/archive
psychopy/data
psychopy/instructions_bat
psychopy/instructions_bat_d
psychopy/instructions_bat_l
psychopy/*.pptx
psychopy/*.xlsx
psychopy/readme.md