.Rproj.user
.Rhistory
.Rprofile
*.Rproj

renv/
template/

markdown/data
markdown/method_cache
markdown/method_files
markdown/master_files
markdown/master_cache
markdown/images

markdown/*.pdf
markdown/*.docx
markdown/*.html

markdown/*.log
markdown/*.fff
markdown/*.ttt