.Rproj.user
.Rhistory
.Rprofile
*.Rproj

renv/
template/
logbuch_ba.xlsx

markdown/data
markdown/models
markdown/method_cache
markdown/method_files
markdown/master_files
markdown/master_cache
markdown/images

markdown/*.pdf
markdown/*.docx
markdown/*.html

markdown/*.log
markdown/*.fff
markdown/*.ttt

psychopy/archive
psychopy/data
psychopy/instructions_bat
psychopy/instructions_bat_d
psychopy/instructions_bat_l
psychopy/*.pptx
psychopy/*.xlsx
psychopy/readme.md